<style>
    .mytextright{
        text-align: right;
    }
    .myformgroup{
        line-height: 45px;
    }
</style>
<div class="row justify-content-center col-lg-10" >
        <div class="form-group row myformgroup ">
            <label for="studentname" class="col-3 studentlabel mytextright"> No:</label>
            <div class="col-8">
                <input type="text" class="studentfield form-control" id="no" value="<%= student?student.No:'' %>" placeholder="Enter No">
            </div>
        </div>
        <div class="form-group row myformgroup ">
            <label for="studentname" class="col-3 studentlabel mytextright"> Name:</label>
            <div class="col-8">
                <input type="text" class="studentfield form-control" id="name" value="<%= student?student.name:'' %>" placeholder="Enter Name">
                <input type="hidden" class="" id="student_id" value="<%= student?student.student_id: null %> " />
            </div>
        </div>
        <div class="form-group row myformgroup">
            <label for="roll"  class="col-3 studentlabel mytextright">Roll No:</label>
            <div class="col-8 d-flex col">
                <%
                let code;
                let code_number;
                if(student && student.roll_no){
                    let roll_no_arr = student.roll_no.split('-');
                    code = roll_no_arr[0];
                    code_number = roll_no_arr[1];
                }
                %>
                <select  class=" form-select studentfield" id="code"   placeholder="Enter Code">
                    <option value="IEC" <%= code && code == 'IEC' ?'selected':'' %> >IEC</option>
                    <option value="IIEC" <%= code && code == 'IIEC' ?'selected':'' %>>IIEC</option>
                    <option value="IIIEC" <%= code && code == 'IIIEC' ?'selected':'' %>>IIIEC</option>
                    <option value="IVEC" <%= code && code == 'IVEC' ?'selected':'' %>>IVEC</option>
                    <option value="VEC" <%= code && code == 'VEC' ?'selected':'' %>>VEC</option>
                    <option value="VIEC" <%= code && code == 'VIEC' ?'selected':'' %>>VIEC</option>
                  </select>
                  <input type="text" class=" form-control studentfield " id="code_number" value="<%= code_number ? code_number :'' %>" placeholder="Enter Roll No">
            </div>   
        </div>
        <div class="form-group row myformgroup">
            <label for="number"  class="col-3 studentlabel mytextright">Phone Number:</label>
            <div class="col-8">
                <input type="text" class="studentfield form-control" id="phonenumber" value="<%= student?student.phonenumber:'' %>" placeholder="Enter Phone Number">
            </div>
        </div>
        <div class="form-group row myformgroup">
            <label for="father"  class="col-3 studentlabel mytextright">Father:</label>
            <div class="col-8">
                <input type="text" class=" col-8 studentfield form-control" id="father" value="<%= student?student.father_name:'' %>" placeholder="Enter Father">
            </div>
        </div>
        
        <div class="form-group row myformgroup">
            <label for="address"  class="col-3 studentlabel mytextright">Address:</label>
            <div class="col-8">
                <input type="text" class=" studentfield form-control" id="address" value="<%= student?student.address:'' %>" placeholder="Enter Address">
        
            </div>
        </div>
        <div class="form-group row myformgroup">
            <label for="gmail"  class="col-3 studentlabel mytextright">Gmail:</label>
            <div class="col-8">
                <input type="text" class=" studentfield form-control" id="gmail" value="<%= student?student.gmail:'' %>" placeholder="Enter Gmail">
            </div>
        </div>
        <div class="form-group row myformgroup">
            <label for="year"  class="col-3 studentlabel mytextright">Year:</label>
            <div class="col-8">
                <select  class="form-select studentfield" id="year"   placeholder="Enter Year">
                    <option value="1st_1sem Year" <%= student && student.year == '1st_1sem Year' ?'selected':'' %> >1st_1sem Year</option>
                    <option value="1st_2sem Year" <%= student && student.year == '1st_2sem Year' ?'selected':'' %> >1st_2sem Year</option>
                    <option value="2nd Year" <%= student && student.year == '2nd Year' ?'selected':'' %>>2nd Year</option>
                    <option value="3rd Year" <%= student && student.year == '3rd Year' ?'selected':'' %>>3rd Year</option>
                    <option value="4th Year" <%= student && student.year == '4rth Year' ?'selected':'' %>>4th Year</option>
                    <option value="5th Year" <%= student && student.year == '5th Year' ?'selected':'' %>>5th Year</option>
                    <option value="6th Year" <%= student && student.year == '6th Year' ?'selected':'' %>>6th Year</option>
                  </select>
            </div>
        </div>
        
        <div class="col offset-md-4">
            <br>
            <button type="button" class=" btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="savestudentBtn">Save</button>
        </div>
</div>
